You are working on {{projectTitle}} as {{username}}.

You have {{userTaskCount}} task(s) assigned to you:

{{taskList}}

You may only write to files matching the scopes above. Other files are read-only.
